/* Full-screen setup */
html {
    margin: 10px;
    height: 80%;
    background-color: #F0F0F0; /* Soft white background */
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* The box styles */
#box {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: #ff8c00; /* Initial color */
    border-radius: 10px;
    transition: transform 1s ease, background-color 1s ease;
}

/* Style for buttons */
.toggle-btn {
    background-color: #41e146;
    display: inline-block;
    text-align: center;
    transition: background-color 0.2s ease;
}

.toggle-btn:hover {
    background-color: #2ab52f;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

.toggle-btn:active {
    background-color: #4a44cc;
}

/* Soft calm red color for "off" state */
.off-state {
    background-color: #FF6F61;
}

/* 'change command' btn and 'on/off' btn */
.toggle-btn, #setCommandButton {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
}

#inputContainer {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

#customCommandInput {
    padding: 8px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
}

#customCommandInput:focus {
    border-color: #4CAF50;
}

#setCommandButton {
    background-color: #008CBA;
    color: white;
}

#setCommandButton:hover {
    background-color: #005F87;
}
