<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoveIt</title>
    <!-- link css file -->
    <link rel="stylesheet" href="/static/styles.css">
    <!-- link web icon -->
    <!-- <link rel="icon" type="image/png" href="/assets/LogoHere.png"> -->
</head>
    <body>
        <!-- Box Section -->
        <div id="box"></div>

        <div id="inputContainer">
            <input type="text" id="customCommandInput" placeholder="Enter custom command">
        
            <button id="setCommandButton">Set Command</button>

            <!-- Btn on/off -->
            <button id="toggleButton" class="toggle-btn">On</button>
        </div>

        <script src="/static/script.js"></script>
    </body>
</html>