<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoveIt</title>
    <!-- link web icon  -->
    <link rel="icon" type="/assets/Color Shout.ico">
    <!-- link to css script -->
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

    <!-- Ready to Play Dialog -->
    <div id="readyDialog" class="modal">
        <div class="modal-content">
            <p>Are You Ready to Play?</p>
            <button id="closeDialog">Yes</button>
        </div>
    </div>

    <!-- Box Section -->
    <div class="boxContainer">
        <div class="box"></div>
        <div class="box"></div>
    </div>

    <!-- Input Section -->
    <div class="boxInputContainer">
        <div class="inputContainer">
            <h2>Player 1 Score: </h2>
        </div>

        <div class="inputContainer">
            <h2>Player 2 Score: </h2>
        </div>
    </div>

    <script src="/static/script.js"></script>
</body>
</html>
