<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shout The Color</title>
    <!-- link web icon  -->
     <link rel="icon" type="/assets/Color Shout.ico">
    <!-- link css script -->
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

    <!-- Box Section -->
    <div class="boxContainer">
        <div class="box"></div>
        <div class="box"></div>
    </div>

    <!-- Input Section -->
    <div class="boxInputContainer">
        <!-- 1st player input container -->
        <div class="inputContainer">
            <input type="text" class="customCommandInput" placeholder="Enter custom command">
            <button class="setCommandButton">Set Command</button>
            <button class="toggleButton toggle-btn">On</button>
        </div>

        <!-- 2nd player input container -->
        <div class="inputContainer">
            <input type="text" class="customCommandInput" placeholder="Enter custom command">
            <button class="setCommandButton">Set Command</button>
            <button class="toggleButton toggle-btn">On</button>
        </div>
    </div>

    <script src="/static/script.js"></script>
</body>
</html>
